.search-bar {
  display:flex;
  justify-content: center;
  margin: 5px auto;
  border:1px gray solid;
  border-radius: 5px;
  width: 100%;
  padding:5px 0;

}

.search-bar__search-form{

}


.gallery{

}